# Server Configuration
PORT=
NODE_ENV=

# Database Configuration
DATABASE_URL=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=

# CORS Configuration
CORS_ORIGINS=

# RabbitMQ
RABBITMQ_URL=
QUEUE_NAME=
QUEUE_TYPE=

TRADEUNLEASHED_BASE_URL=
TRADEUNLEASHED_USERNAME=
TRADEUNLEASHED_PASSWORD=

SYNC_CRON_SCHEDULE=